body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

#cadastro-form {
    width: 50%;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#cadastro-form label {
    display: block;
    margin-bottom: 10px;
}

#cadastro-form input {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#cadastro-form button {
    width: 100%;
    height: 40px;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#cadastro-form button:hover {
    background-color: #3e8e41;
}

#cadastros-tabela {
    width: 50%;
    margin: 40px auto;
    border-collapse: collapse;
}

#cadastros-tabela th, #cadastros-tabela td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

#cadastros-tabela th {
    background-color: #f0f0f0;
}